.button {
  height: 58px;
  background:$blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 49px;
  color: $white;
  text-transform: uppercase;
  @extend %font-size--21-26;
  @extend %font-PT--700;
  @include transition--03(all);
  &:hover,
  &:focus {
    background: $blueHover;
  }
  &:active {
    background: $blueActive;
    color: rgba($color: $white, $alpha: 0.3);
  }
  &:disabled {
    background: #e5e5e5;
  }
}