%font-PT--400 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
}

%font-PT--700 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
}

%font-size--18-26 {
  font-size: 18px;
  line-height: 26px;
}

%font-size--21-26 {
  font-size: 21px;
  line-height: 26px;
}