.footer {
  text-align: center;
  text-transform: uppercase;
  padding: 39px 6.25% 30px;
  color: $black;
  background-color: $white;
  &__title {
    @extend %font-size--21-26;
    @extend %font-PT--700;
    margin: 0 0 39px;
  }
  .socials {
    display: flex;
    justify-content: center;
    padding: 0 6.25%;
    margin: 0 0 30px;
    &__item {
      width: 46px;
      height: 48px;
      background: $blue;
      margin: 0 6px 0 0;
      cursor: pointer;
      @include transition--03(all);
      &:last-child {
        margin: 0;
      }
      &:hover,
      &:focus {
        background: $blueHover;
      }
      &:active {
        background: $blueActive;
      }
      &:active .socials__img {
        fill-opacity: 0.3;
      }
    }
    &__link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__img {
      fill: $white;
    }
  }
  .designed {
    &__text {
      line-height: 26px;
      text-transform: none;
    }
    &__link {
      text-transform: uppercase;
      color: $black;
      @extend %font-PT--700;
      @extend %font-size--21-26;
      @include transition--03(opacity);
      &:hover,
      &:focus {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}
