.main-nav {
  @extend %font-PT--700;
  &__list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }
  &__item {
    text-transform: uppercase;
    @extend %font-size--18-26;
    height: 55px;
    border-bottom: 1px solid $blueDarker;
    border-top: 1px solid $blueLighter;
    cursor: pointer;
    color: $white;
    @include transition--03(all);
    background: $blue;
    &:nth-child(4) {
      border-bottom: none;
    }
    &:hover,
    &:focus {
      background: $blueHover;
    }
    &:active {
      background: $blueActive;
      color: rgba($color: white, $alpha: 0.3);
    }
  }
  &__link {
    color: inherit;
    outline: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .logo {
    background: $white;
    height: 55px;
    box-shadow: 0 -3px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    &__sandwitch {
      position: absolute;
      top: 17px;
      right: 20px;
    }
  }
  .sandwitch {
    width: 23px;
    height: 22px;
    background: transparent;
    cursor: pointer;
    @include transition--03(opacity);
    &__item {
      width: 23px;
      height: 4px;
      background: $blue;
      box-shadow: 0 8px 0 0px $blue, 0 16px 0 0px $blue;
    }
    &:hover,
    &:focus {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.3;
    }
  }
}
