.main-nav {
  @extend %font-PT--700;
  &__list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
  }
  &__item {
    background: $blue;
    text-transform: uppercase;
    @extend %font-size--18-26;
    height: 55px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $blueDarker;
    border-top: 1px solid $blueLighter;
    cursor: pointer;
    color: $white;
    @include transition--03(all);
    display: flex;
    &:nth-child(4) {
      border-bottom: none;
    }
    &:hover,
    &:focus {
      background: $blueHover;
    }
    &:active {
      background: $blueActive;
      color: rgba($color: white, $alpha: 0.3);
    }
  }
  &__link {
    color: inherit;
    outline: none;
  }
  .logo {
    background: $white;
    height: 55px;
    box-shadow: 0 -3px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    &__sandwitch {
      position: absolute;
      top: 17px;
      right: 20px;
    }
  }
  .sandwitch {
    width: 23px;
    height: 21px;
    background: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    cursor: pointer;
    div {
      width: 23px;
      height: 4px;
      background: $blue;
      @include transition--03(opacity);
    }
    &:hover div,
    &:focus div {
      opacity: 0.7;
    }
    &:active div {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .main-nav {
    height: 60px;
    &__list {
      flex-flow: row nowrap;
      flex: 1 1 auto;
      height: 100%;
    }
    &__item {
      border: none;
      background: $white;
      color: $black;
      font-size: 14px;
      padding: 0 25px;
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
    &__item3 {
      order: 4;
    }
    &__item4 {
      order: 5;
    }
    .logo {
      order: 3;
      padding: 0 25px;
      box-shadow: none;
      width: 100%;
      height: 100%;
      &__link {
        display: flex;
        justify-content: center;
      }
      &__img {
        width: 102px;
      }
    }
    .sandwitch {
      display: none;
    }
  }
}
