$mobile-only: 767px;
$tablet: 768px;
$tablet-only: 1199px;
$desktop: 1200px;

@import 'fonts';
@import 'colors';
@import 'other';
@import 'header';
@import 'main';
@import 'button';
@import 'footer';

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  @extend %font-PT--400;
  font-size: 14px;
  color: $grey;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
